.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    align-items: center;
    justify-content: right;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 80px;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar svg {
    font-size: 40px;
}

@media only screen and (min-wdith: 600px) {
    .navbar button {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }
}